*{
    margin: 0;
    padding: 0;
}
h1{
    width: 302px;
    text-align: center;
}
.box{
    width: 302px;
}
.view{
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid black;
}
.menubox{
    width: 300px;
    display: table;
    text-align: center;
}
.menu{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    height: 50px;
}
li{
    margin-left: 20px;
}
.select{
    background-color: aqua;
}